.booking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #74ABB7;
    position:relative;
    left:150px;
    
}
.dt-picker{
    display: flex;
    flex-direction: column;
    
}

